<connectionStrings>
  <add name="local" connectionString="Data Source=(localdb)\Projects;Initial Catalog=MVC;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"/>
  <add name="remote" connectionString="Server=a6b6204f-0958-4e52-be94-a3e00175a001.sqlserver.sequelizer.com;Database=dba6b6204f09584e52be94a3e00175a001;User ID=mrymbmtighlhwtvr;Password=wdkAigrFm3PE6mBFqbBwb3nNXPBtD5GCH3URxbfxzzrhWovbW4b2sBPCYDKBL6cq;"/>
</connectionStrings>