@{
    ViewBag.Title = "Termes";
}


<p></p>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-6 column">
                    <h3 class="text-info">
                        h3. Lorem ipsum dolor sit amet.
                    </h3>
                </div>
                <div class="col-md-6 column">
                    <img alt="140x140" src="http://lorempixel.com/140/140/" />
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-4 column">
            <h2>
                Quick To buy Termes
            </h2>
            <p>
                La utilización de la tienda online supone la aceptación plena por el usuario de todas las Condiciones Generales de uso del sitio web vigentes en cada momento en que el usuario acceda al mismo, por lo que si éste no está de acuerdo con cualquiera de las condiciones aquí establecidas, no deberá usar este sitio web.
                Rogamos que lea atentamente las presentes Condiciones y nuestra Declaración de Privacidad antes de hacer clic en la teclas “Registrar” para registrarse y “Procesar pedido” para realizar el pedido.
                Estas Condiciones podrían ser modificadas, por lo que debe leerlas antes de efectuar cada pedido. Si tiene alguna pregunta relacionada con las condiciones de compra o la política de privacidad puede consultar el sitio web o ponerse en contacto con nosotros a través de la dirección beauty@sepai.eu
                Sepai Beauticeutical Division, S.L. es una sociedad de responsabilidad limitada española, con domicilio en la Calle Beethoven, número 15 – Planta 4; 08021, de Barcelona inscrita en el registro mercantil de Barcelona, con NIF B-64878689.
            </p>
            <p>

            </p>
        </div>
        <div class="col-md-4 column">
            <h2>
                Condiciones de uso
            </h2>
            <p>
                El usuario es el único responsable de la selección del Producto y de su adecuación a sus necesidades, la página de Producto personalizado es solo una recomendación. La Sociedad no será responsable por este concepto. Le toca al usuario solicitar a la Sociedad cualquier información o dato adicional sobre las características del Producto o su utilización antes de comprarlo. El usuario, previamente informado sobre los Productos comercializados por la Sociedad y satisfaciendo las necesidades determinadas por él, pasa su pedido bajo su propia responsabilidad.
                En ningún caso la Sociedad será responsable de los daños directos o indirectos, de cualquier naturaleza, que sean derivados de la utilización o de la imposibilidad de utilizar el Producto vendido.
                El usuario no está autorizado a reproducir o transmitir el contenido de esta web salvo previa autorización .
            </p>
            <p>

            </p>
        </div>
        <div class="col-md-4 column">
            <h2>
                Pedidos
            </h2>
            <p>
                Las características de los productos y sus precios en euros son los que aparecen en pantalla.
                En el momento en que se añade algún producto a la “Cesta” puede consultar el contenido de la misma en la parte superior derecha de la página pasando sobre la “Cesta de Compra”.
                Haciendo clic en “Cesta” el Cliente puede verificar y/o modificar el detalle de su pedido, así como consultar el importe total.
                Después de verificar los datos de envío y facturación y escoger la forma de pago debe confirmar el pedido con un clic en el botón “Procesar pedido” al pie de la página. Esto le abre acceso a la página segura de pago según la opción previamente seleccionada donde podrá confirmar definitivamente su pedido al realizar el pago.
                Después del pago, el Cliente recibirá un mensaje de confirmación y registro de su pedido (por e-mail). Recomendamos al Cliente conservar una copia de este e-mail como prueba de su pedido.
            </p>
            <p>

            </p>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-4 column">
            <h2>
                Gastos de Transporte y Plazos 
            </h2>
            <p>
                Los precios indicados no incluyen los gastos de envío, el importe que aparece antes de acceder o registrarse en la página es orientativo y viene verificado y en caso necesario modificado una vez el sistema tiene a disposición la dirección de entrega.
                Los gastos de envío son por cargo del cliente y aparecen indicados explícitamente en la cesta antes de procesar el pedido y en la factura emitida.
                Los pedidos se entregarán a la dirección indicada por el usuario durante el proceso de compra, en general los pedidos se preparan en un plazo de 2-3 días hábiles, a partir de aquí el plazo de entrega por parte del transportista depende de la destinación del paquete.
                La Sociedad se reserva el derecho de elegir al transportista y garantiza el buen despacho de los Productos. De todos modos una vez que el paquete deja nuestro almacén la responsabilidad del paquete es del transportista y del cliente.
            </p>
            <p>

            </p>
        </div>
        <div class="col-md-4 column">
            <h2>
                Zona Geográfica de Entrega
            </h2>
            <p>
                La Sociedad envía a todos los países comunicados por servicios postales internacionales a condición de que no exista un distribuidor autorizado en dicha zona.
                Para comprar en los países donde existe un distribuidor es posible consultar la página “Donde encontrar Quick” para encontrar un revendedor autorizado.
            </p>
            <p>

            </p>
        </div>
        <div class="col-md-4 column">
            <h2>
                Fuerza Mayor
            </h2>
            <p>
                La Sociedad no se hace responsable del incumplimiento de sus obligaciones contractuales en caso de fuerza mayor o en caso fortuito, incluidas, sin que la presente lista sea limitativa, las catástrofes, incendios, huelgas internas o externas, fallos o averías internas o externas y, más generalmente, cualquier evento que no permita una buena ejecución de los pedidos.
            </p>
            <p>

            </p>
        </div>
    </div>
</div>



