h1 {
font-family: 'Comic Sans MS', cursive;
line-height: 1em;
color: #279c35;
 font-weight: bold;
font-style:italic;
font-size: 55px;
text-shadow:0px 0px 0 rgb(15,132,29),1px 1px 0  
rgb(0,117,14),2px 2px 0 rgb(-14,103,0),3px 3px 0 
rgb(-29,88,-15),4px 4px 0 rgb(-43,74,-29),5px 5px 0 
rgb(-48,69,-34), 6px 6px 0 rgb(-62,55,-48),7px 7px 6px  
rgba(0,0,0,0.6),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px 
rgba(0,0,0,.2);

          }
   