<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="Environment" value="local" />
    <add key="current_session_context_class" value="thread_static" />
  </appSettings>
  <connectionStrings>
    <add name="local" connectionString="Data Source=(localdb)\Projects;Initial Catalog=MVC;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"/>
    <add name="remote" connectionString="Data Source=5bae86c7-4298-4520-9e7b-a3f701653c13.sqlserver.sequelizer.com;Initial Catalog=db5bae86c7429845209e7ba3f701653c13;Persist Security Info=True;User ID=isiukbjebpsprrag;Password=ePCyUbXvtBjuCyznCEB7G5HawNS8uPMBTrJmLRzs47C62bPMjChjodRhfCbgqYbM"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FluentNHibernate" publicKeyToken="8aa435e3cb308880" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>