<connectionStrings>
  <add name="local" connectionString="Data Source=(localdb)\Projects;Initial Catalog=MVC;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"/>
  <add name="remote" connectionString="Server=5bae86c7-4298-4520-9e7b-a3f701653c13.sqlserver.sequelizer.com;Database=db5bae86c7429845209e7ba3f701653c13;User ID=isiukbjebpsprrag;Password=ePCyUbXvtBjuCyznCEB7G5HawNS8uPMBTrJmLRzs47C62bPMjChjodRhfCbgqYbM;"/>
</connectionStrings>